html,
body {
  height: 100%;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  color: $default-color;
  letter-spacing: -0.14px;
  background-color: #fafbff;
  display: flex;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.menu__btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  @include r($r-tb) {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $title;
  font-size: clamp(18px, 2vw, 26px);
  font-weight: 600;
  margin-bottom: 65px;

  &__img {
    width: clamp(20px, 3vw, 37px);
  }

  &__span {
    font-size: 10px;
    letter-spacing: -0.1px;
    font-weight: 500;
    color: #838383;
    margin-top: 12px;
  }
}

a {
  font-size: inherit;
  line-height: inherit;
}

svg {
  // fill: currentColor;
  // stroke: currentColor;
  stroke-width: inherit;
}
